export(cv_vif)
export(plot.cv_vif)
export(rvifs)
export(multicollinearity)
import(multiColl)
import(car)
importFrom("stats", "var")
importFrom("graphics", "abline", "points", "text")
importFrom("stats", "lm", "qt")
importFrom("stats", "rnorm")